body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.title {
    font-size: 20em;
    color: #000;
    text-align: center;
    margin-top: 150px;
}

.cursor {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, width 0.3s, height 0.3s;

}

